body{
    overflow-y: hidden;
    background-color: rgb(239, 226, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flip-container {
    perspective: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    justify-items: center;
    align-items: center;
    background-color: rgb(218, 168, 93);
    padding: 10px;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-shadow: 1px 1px 2px rgb(218, 168, 93), -1px -1px 2px rgb(218, 168, 93);
    border-radius: 5px;
}   

.flipper.flip {
    transform: rotateY(-180deg);
    transition: 0.6s linear;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flipper {
    transition: 0.6s linear;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.flipper:active{
    transform: scale(0.97);
    transition: 0.2s;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(239, 226, 194);
    box-shadow: 1px 1px 2px rgb(218, 168, 93), -1px -1px 2px rgb(218, 168, 93);
}

.back {
    transform: rotateY(180deg);
}

.winTable {
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    box-shadow: 2px 2px 3px antiquewhite, -2px -2px 3px antiquewhite;
    border-radius: 5px;
    width: 550px;
    height: 550px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: none;
}

.winImage {
    width: 250px;
}

.winText {
    font-family: 'Merienda';
    text-align: center;
    font-size: xxx-large;
}

.winButton {
    font-family: 'Merienda';
    background-color: antiquewhite;
    border: none;
    font-size: xx-large;
    cursor: pointer;
}

@media (max-width: 600px) and (min-width: 440px) {
    .flip-container {
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: repeat(4, 90px);
        padding: 15px;
    }
    .flipper,.front,.back {
        width: 80px;
        height: 80px
    }
    .winTable {
        width: 80vw;
        height: 80vw;
        min-width: 400px;
        min-height: 400px;
    }
    .winImage {
        width: 40vw;
    }
    .winText {
        font-size: 7vw;
    }
    .winButton {
        font-size: 5vw;
    }
}

@media (max-width: 439px) and (min-width: 370px) {
    .flip-container {
        grid-template-columns: repeat(4, 75px);
        grid-template-rows: repeat(4, 75px);
        padding: 10px;
    }
    .flipper,
    .front,
    .back {
        width: 65px;
        height: 65px;
    }
    .winTable {
        width: 80vw;
        height: 80vw;
        min-width: 320px;
        min-height: 320px;
    }
    .winImage {
        width: 40vw;
    }
    .winText {
        font-size: 7vw;
    }
    .winButton {
        font-size: 5vw;
    }
}

@media (max-width: 369px) and (min-width: 300px) {
    .flip-container {
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(4, 70px);
        padding: 10px;
    }
    .flipper,
    .front,
    .back {
        width: 60px;
        height: 60px;
    }
    .winTable {
        width: 80vw;
        height: 80vw;
        min-width: 320px;
        min-height: 320px;
    }
    .winImage {
        width: 42vw;
    }
    .winText {
        font-size: 8vw;
    }
    .winButton {
        font-size: 6vw;
    }
}
